$color-gradient-1: #ff5a98;
$color-gradient-2: #7638f4;
$color-gradient-3: #11a3d2;

section#works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  flex-wrap: wrap;
  gap: 4rem;

  padding: 3rem 6rem;

  & .work-container {
    border-bottom: solid 1px #ddd;
    place-self: start stretch;
    // padding: 2rem;

    & a:first-of-type {
      text-decoration: none;
    }

    & h3 {
      font-weight: 700;
      font-size: 2rem;
    }

    & p {
      padding: 1rem 0;
    }

    & dl {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      
      & dd {
        color: #ff5a98;
        background-color: rgb(255, 90, 152, 0.25);
        padding: 0 .5rem;
        border-radius: 1rem;
        white-space: nowrap;
        font-weight: 200;
      }
    }

    .dot {
      display: inline-block;
      width: .75rem;
      height: .75rem;
      background-color: #fff;
      border-radius: 50%;
      margin-right: .5rem;
    }
  }
}
