$color-gradient-1: #ff5a98;
$color-gradient-2: #7638f4;
$color-gradient-3: #11a3d2;

#works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  flex-wrap: wrap;
  gap: 4rem;

  padding: 2rem;

  & .work-container {
    border-bottom: solid 1px #ddd;
    place-self: start stretch;
    // padding: 2rem;

    & a:first-of-type {
      text-decoration: none;
    }

    & a:nth-of-type(2) {
      cursor: pointer;
    }

    & h3 {
      font-weight: 700;
      font-size: 2rem;
    }

    & p {
      padding: 1rem 0;
    }

    & ul {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;
      
      & li {
        color: #000;
        list-style: none;
        background-color: #ff5a98;
        padding: 0 .5rem;
        border-radius: 1rem;
        white-space: nowrap;
        font-weight: 200;

        @media screen and (prefers-color-scheme: dark) {
          color: #ff5a98;
          background-color: #000;
        }
      }
    }

    .dot {
      display: inline-block;
      width: .75rem;
      height: .75rem;
      background-color: #fff;
      border-radius: 50%;
      margin-right: .5rem;
    }
  }
}


// MEDIA QUERIES RESPONSIVINESS

@media (min-width: 768px) {
  #works {
    padding: 4rem;
  }
}

@media (min-width: 1024px) {
  #works {
    padding: 6rem;
  }
}

@media (min-width: 1024px) {
  #works {
    grid-template-columns: 1fr 1fr;
  }
}
